/* ===== awig awig page ======== */
.awig-awig-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: url("../../img/awig-awig/awig-awig-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.awig-awig-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../img/awig-awig/awig-awig-page.png");
  background-size: 220px;
  background-repeat: repeat;
  opacity: 0.08;
  pointer-events: none;
}

.awig-awig-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.awig-awig-page-header > h1 {
  font-family: var(--fonts-heading);
  font-weight: 700;
  font-size: 4rem;
  color: var(--netral-100);
}
.awig-awig-page-header > p {
  font-family: var(--fonts-paragraf);
  font-weight: 400;
  font-size: 1rem;
  color: var(--netral-400);
}

/* ====== content awig awig ============ */
.awig-awig {
  position: relative;
  margin-top: -170px;
  z-index: 70;
  padding-inline: 16px;
}

.pages {
  max-width: 800px;
  margin-inline: auto;
  padding: 40px;
  background-image:
    linear-gradient(rgba(195, 180, 145, 0.434), rgba(216, 202, 168, 0.484)),
    url("../../img/historis/paper-old.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: repeat;
  border: 2px solid #000000;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.pages-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pages-header > h2 {
  font-family: var(--fonts-heading);
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  padding-inline: 2rem;
  line-height: 1.5;
  margin-top: 20px;
}

.pages-header > p {
  font-family: var(--fonts-paragraf);
  font-weight: 400;
  font-size: 1rem;
}

.doc-intro {
  padding: 5rem 0 2rem 0;
  font-family: var(--fonts-paragraf);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  padding-inline: 1rem;
}

.doc-pawon {
  padding-block: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 1rem;
  line-height: 1.5;
}

.doc-pawon > h3 {
  font-family: var(--fonts-heading);
  font-weight: 700;
  font-size: 1.5rem;
}

.doc-pawon > p {
  font-family: var(--fonts-paragraf);
  font-weight: 400;
  font-size: 1rem;
}

.margin {
  margin-top: 50px;
}

.italic-fonts {
  font-style: italic;
}

.doc-menu {
  padding-left: 2rem;
}