/* ===== philosophy page ======== */
.philosophy-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
  background: url("../../img/filosofi/filosofi-page.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.philosophy-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../img/filosofi/filosofi-page.webp");
  background-size: 220px;
  background-repeat: repeat;
  opacity: 0.08;
  pointer-events: none;
}

.philosophy-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.philosophy-page-header > h1 {
  font-family: var(--fonts-heading);
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--netral-100);
  margin-top: 20px;
}

.philosophy-page-header > p {
  font-family: var(--fonts-paragraf);
  font-weight: 400;
  font-size: 1rem;
  color: var(--netral-400);
}

/* ========== Philosophy =========== */
.philosophy {
  position: relative;
  margin-top: -170px;
  z-index: 70;
  padding-inline: 16px;
}

.page {
  max-width: 800px;
  margin-inline: auto;
  padding: 60px 10px;
  background-image:
    linear-gradient(rgba(195, 180, 145, 0.434), rgba(216, 202, 168, 0.484)),
    url("../../img/historis/paper-old.webp");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: repeat;
  border: 2px solid #000000;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.phil-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.phil-header > h2 {
  font-family: var(--fonts-heading);
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--emas-950);
}

.phil-header > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ====== content list phil ====== */
.phil-content-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    padding-inline: 5rem;
}

.phil-content-list > dt {
    font-family: var(--fonts-heading);
    font-weight: 900;
    font-size: 2rem;
    color: var(--ungu-950);
    margin-top: 42px;
}

.phil-content-list > dd {
    padding-right: 1.5rem;
    font-family: var(--fonts-paragraf);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--netral-800);
}

.sub-desc {
    padding-left: 3rem;
}
